@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: black;
}

a {
   color: inherit;
   text-decoration: none;
}
